.grasslands_A {
	background-image: url(/system/tilesets/pngs/000/000/007/original/grasslands_A.png?1519534145);
	width: 16px;
	height: 16px;

	&.grasslands_A-1-1 {
		background-position: -0px -0px;
	}

	&.grasslands_A-1-2 {
		background-position: -0px -16px;
	}

	&.grasslands_A-1-3 {
		background-position: -0px -32px;
	}

	&.grasslands_A-1-4 {
		background-position: -0px -48px;
	}

	&.grasslands_A-1-5 {
		background-position: -0px -64px;
	}

	&.grasslands_A-1-6 {
		background-position: -0px -80px;
	}

	&.grasslands_A-1-7 {
		background-position: -0px -96px;
	}

	&.grasslands_A-1-8 {
		background-position: -0px -112px;
	}

	&.grasslands_A-1-9 {
		background-position: -0px -128px;
	}

	&.grasslands_A-1-10 {
		background-position: -0px -144px;
	}

	&.grasslands_A-1-11 {
		background-position: -0px -160px;
	}

	&.grasslands_A-1-12 {
		background-position: -0px -176px;
	}

	&.grasslands_A-1-13 {
		background-position: -0px -192px;
	}

	&.grasslands_A-1-14 {
		background-position: -0px -208px;
	}

	&.grasslands_A-1-15 {
		background-position: -0px -224px;
	}

	&.grasslands_A-1-16 {
		background-position: -0px -240px;
	}

	&.grasslands_A-1-17 {
		background-position: -0px -256px;
	}

	&.grasslands_A-1-18 {
		background-position: -0px -272px;
	}

	&.grasslands_A-1-19 {
		background-position: -0px -288px;
	}

	&.grasslands_A-1-20 {
		background-position: -0px -304px;
	}

	&.grasslands_A-1-21 {
		background-position: -0px -320px;
	}

	&.grasslands_A-1-22 {
		background-position: -0px -336px;
	}

	&.grasslands_A-1-23 {
		background-position: -0px -352px;
	}

	&.grasslands_A-1-24 {
		background-position: -0px -368px;
	}

	&.grasslands_A-1-25 {
		background-position: -0px -384px;
	}

	&.grasslands_A-1-26 {
		background-position: -0px -400px;
	}

	&.grasslands_A-1-27 {
		background-position: -0px -416px;
	}

	&.grasslands_A-1-28 {
		background-position: -0px -432px;
	}

	&.grasslands_A-1-29 {
		background-position: -0px -448px;
	}

	&.grasslands_A-1-30 {
		background-position: -0px -464px;
	}

	&.grasslands_A-1-31 {
		background-position: -0px -480px;
	}

	&.grasslands_A-2-1 {
		background-position: -16px -0px;
	}

	&.grasslands_A-2-2 {
		background-position: -16px -16px;
	}

	&.grasslands_A-2-3 {
		background-position: -16px -32px;
	}

	&.grasslands_A-2-4 {
		background-position: -16px -48px;
	}

	&.grasslands_A-2-5 {
		background-position: -16px -64px;
	}

	&.grasslands_A-2-6 {
		background-position: -16px -80px;
	}

	&.grasslands_A-2-7 {
		background-position: -16px -96px;
	}

	&.grasslands_A-2-8 {
		background-position: -16px -112px;
	}

	&.grasslands_A-2-9 {
		background-position: -16px -128px;
	}

	&.grasslands_A-2-10 {
		background-position: -16px -144px;
	}

	&.grasslands_A-2-11 {
		background-position: -16px -160px;
	}

	&.grasslands_A-2-12 {
		background-position: -16px -176px;
	}

	&.grasslands_A-2-13 {
		background-position: -16px -192px;
	}

	&.grasslands_A-2-14 {
		background-position: -16px -208px;
	}

	&.grasslands_A-2-15 {
		background-position: -16px -224px;
	}

	&.grasslands_A-2-16 {
		background-position: -16px -240px;
	}

	&.grasslands_A-2-17 {
		background-position: -16px -256px;
	}

	&.grasslands_A-2-18 {
		background-position: -16px -272px;
	}

	&.grasslands_A-2-19 {
		background-position: -16px -288px;
	}

	&.grasslands_A-2-20 {
		background-position: -16px -304px;
	}

	&.grasslands_A-2-21 {
		background-position: -16px -320px;
	}

	&.grasslands_A-2-22 {
		background-position: -16px -336px;
	}

	&.grasslands_A-2-23 {
		background-position: -16px -352px;
	}

	&.grasslands_A-2-24 {
		background-position: -16px -368px;
	}

	&.grasslands_A-2-25 {
		background-position: -16px -384px;
	}

	&.grasslands_A-2-26 {
		background-position: -16px -400px;
	}

	&.grasslands_A-2-27 {
		background-position: -16px -416px;
	}

	&.grasslands_A-2-28 {
		background-position: -16px -432px;
	}

	&.grasslands_A-2-29 {
		background-position: -16px -448px;
	}

	&.grasslands_A-2-30 {
		background-position: -16px -464px;
	}

	&.grasslands_A-2-31 {
		background-position: -16px -480px;
	}

	&.grasslands_A-3-1 {
		background-position: -32px -0px;
	}

	&.grasslands_A-3-2 {
		background-position: -32px -16px;
	}

	&.grasslands_A-3-3 {
		background-position: -32px -32px;
	}

	&.grasslands_A-3-4 {
		background-position: -32px -48px;
	}

	&.grasslands_A-3-5 {
		background-position: -32px -64px;
	}

	&.grasslands_A-3-6 {
		background-position: -32px -80px;
	}

	&.grasslands_A-3-7 {
		background-position: -32px -96px;
	}

	&.grasslands_A-3-8 {
		background-position: -32px -112px;
	}

	&.grasslands_A-3-9 {
		background-position: -32px -128px;
	}

	&.grasslands_A-3-10 {
		background-position: -32px -144px;
	}

	&.grasslands_A-3-11 {
		background-position: -32px -160px;
	}

	&.grasslands_A-3-12 {
		background-position: -32px -176px;
	}

	&.grasslands_A-3-13 {
		background-position: -32px -192px;
	}

	&.grasslands_A-3-14 {
		background-position: -32px -208px;
	}

	&.grasslands_A-3-15 {
		background-position: -32px -224px;
	}

	&.grasslands_A-3-16 {
		background-position: -32px -240px;
	}

	&.grasslands_A-3-17 {
		background-position: -32px -256px;
	}

	&.grasslands_A-3-18 {
		background-position: -32px -272px;
	}

	&.grasslands_A-3-19 {
		background-position: -32px -288px;
	}

	&.grasslands_A-3-20 {
		background-position: -32px -304px;
	}

	&.grasslands_A-3-21 {
		background-position: -32px -320px;
	}

	&.grasslands_A-3-22 {
		background-position: -32px -336px;
	}

	&.grasslands_A-3-23 {
		background-position: -32px -352px;
	}

	&.grasslands_A-3-24 {
		background-position: -32px -368px;
	}

	&.grasslands_A-3-25 {
		background-position: -32px -384px;
	}

	&.grasslands_A-3-26 {
		background-position: -32px -400px;
	}

	&.grasslands_A-3-27 {
		background-position: -32px -416px;
	}

	&.grasslands_A-3-28 {
		background-position: -32px -432px;
	}

	&.grasslands_A-3-29 {
		background-position: -32px -448px;
	}

	&.grasslands_A-3-30 {
		background-position: -32px -464px;
	}

	&.grasslands_A-3-31 {
		background-position: -32px -480px;
	}

	&.grasslands_A-4-1 {
		background-position: -48px -0px;
	}

	&.grasslands_A-4-2 {
		background-position: -48px -16px;
	}

	&.grasslands_A-4-3 {
		background-position: -48px -32px;
	}

	&.grasslands_A-4-4 {
		background-position: -48px -48px;
	}

	&.grasslands_A-4-5 {
		background-position: -48px -64px;
	}

	&.grasslands_A-4-6 {
		background-position: -48px -80px;
	}

	&.grasslands_A-4-7 {
		background-position: -48px -96px;
	}

	&.grasslands_A-4-8 {
		background-position: -48px -112px;
	}

	&.grasslands_A-4-9 {
		background-position: -48px -128px;
	}

	&.grasslands_A-4-10 {
		background-position: -48px -144px;
	}

	&.grasslands_A-4-11 {
		background-position: -48px -160px;
	}

	&.grasslands_A-4-12 {
		background-position: -48px -176px;
	}

	&.grasslands_A-4-13 {
		background-position: -48px -192px;
	}

	&.grasslands_A-4-14 {
		background-position: -48px -208px;
	}

	&.grasslands_A-4-15 {
		background-position: -48px -224px;
	}

	&.grasslands_A-4-16 {
		background-position: -48px -240px;
	}

	&.grasslands_A-4-17 {
		background-position: -48px -256px;
	}

	&.grasslands_A-4-18 {
		background-position: -48px -272px;
	}

	&.grasslands_A-4-19 {
		background-position: -48px -288px;
	}

	&.grasslands_A-4-20 {
		background-position: -48px -304px;
	}

	&.grasslands_A-4-21 {
		background-position: -48px -320px;
	}

	&.grasslands_A-4-22 {
		background-position: -48px -336px;
	}

	&.grasslands_A-4-23 {
		background-position: -48px -352px;
	}

	&.grasslands_A-4-24 {
		background-position: -48px -368px;
	}

	&.grasslands_A-4-25 {
		background-position: -48px -384px;
	}

	&.grasslands_A-4-26 {
		background-position: -48px -400px;
	}

	&.grasslands_A-4-27 {
		background-position: -48px -416px;
	}

	&.grasslands_A-4-28 {
		background-position: -48px -432px;
	}

	&.grasslands_A-4-29 {
		background-position: -48px -448px;
	}

	&.grasslands_A-4-30 {
		background-position: -48px -464px;
	}

	&.grasslands_A-4-31 {
		background-position: -48px -480px;
	}

	&.grasslands_A-5-1 {
		background-position: -64px -0px;
	}

	&.grasslands_A-5-2 {
		background-position: -64px -16px;
	}

	&.grasslands_A-5-3 {
		background-position: -64px -32px;
	}

	&.grasslands_A-5-4 {
		background-position: -64px -48px;
	}

	&.grasslands_A-5-5 {
		background-position: -64px -64px;
	}

	&.grasslands_A-5-6 {
		background-position: -64px -80px;
	}

	&.grasslands_A-5-7 {
		background-position: -64px -96px;
	}

	&.grasslands_A-5-8 {
		background-position: -64px -112px;
	}

	&.grasslands_A-5-9 {
		background-position: -64px -128px;
	}

	&.grasslands_A-5-10 {
		background-position: -64px -144px;
	}

	&.grasslands_A-5-11 {
		background-position: -64px -160px;
	}

	&.grasslands_A-5-12 {
		background-position: -64px -176px;
	}

	&.grasslands_A-5-13 {
		background-position: -64px -192px;
	}

	&.grasslands_A-5-14 {
		background-position: -64px -208px;
	}

	&.grasslands_A-5-15 {
		background-position: -64px -224px;
	}

	&.grasslands_A-5-16 {
		background-position: -64px -240px;
	}

	&.grasslands_A-5-17 {
		background-position: -64px -256px;
	}

	&.grasslands_A-5-18 {
		background-position: -64px -272px;
	}

	&.grasslands_A-5-19 {
		background-position: -64px -288px;
	}

	&.grasslands_A-5-20 {
		background-position: -64px -304px;
	}

	&.grasslands_A-5-21 {
		background-position: -64px -320px;
	}

	&.grasslands_A-5-22 {
		background-position: -64px -336px;
	}

	&.grasslands_A-5-23 {
		background-position: -64px -352px;
	}

	&.grasslands_A-5-24 {
		background-position: -64px -368px;
	}

	&.grasslands_A-5-25 {
		background-position: -64px -384px;
	}

	&.grasslands_A-5-26 {
		background-position: -64px -400px;
	}

	&.grasslands_A-5-27 {
		background-position: -64px -416px;
	}

	&.grasslands_A-5-28 {
		background-position: -64px -432px;
	}

	&.grasslands_A-5-29 {
		background-position: -64px -448px;
	}

	&.grasslands_A-5-30 {
		background-position: -64px -464px;
	}

	&.grasslands_A-5-31 {
		background-position: -64px -480px;
	}

	&.grasslands_A-6-1 {
		background-position: -80px -0px;
	}

	&.grasslands_A-6-2 {
		background-position: -80px -16px;
	}

	&.grasslands_A-6-3 {
		background-position: -80px -32px;
	}

	&.grasslands_A-6-4 {
		background-position: -80px -48px;
	}

	&.grasslands_A-6-5 {
		background-position: -80px -64px;
	}

	&.grasslands_A-6-6 {
		background-position: -80px -80px;
	}

	&.grasslands_A-6-7 {
		background-position: -80px -96px;
	}

	&.grasslands_A-6-8 {
		background-position: -80px -112px;
	}

	&.grasslands_A-6-9 {
		background-position: -80px -128px;
	}

	&.grasslands_A-6-10 {
		background-position: -80px -144px;
	}

	&.grasslands_A-6-11 {
		background-position: -80px -160px;
	}

	&.grasslands_A-6-12 {
		background-position: -80px -176px;
	}

	&.grasslands_A-6-13 {
		background-position: -80px -192px;
	}

	&.grasslands_A-6-14 {
		background-position: -80px -208px;
	}

	&.grasslands_A-6-15 {
		background-position: -80px -224px;
	}

	&.grasslands_A-6-16 {
		background-position: -80px -240px;
	}

	&.grasslands_A-6-17 {
		background-position: -80px -256px;
	}

	&.grasslands_A-6-18 {
		background-position: -80px -272px;
	}

	&.grasslands_A-6-19 {
		background-position: -80px -288px;
	}

	&.grasslands_A-6-20 {
		background-position: -80px -304px;
	}

	&.grasslands_A-6-21 {
		background-position: -80px -320px;
	}

	&.grasslands_A-6-22 {
		background-position: -80px -336px;
	}

	&.grasslands_A-6-23 {
		background-position: -80px -352px;
	}

	&.grasslands_A-6-24 {
		background-position: -80px -368px;
	}

	&.grasslands_A-6-25 {
		background-position: -80px -384px;
	}

	&.grasslands_A-6-26 {
		background-position: -80px -400px;
	}

	&.grasslands_A-6-27 {
		background-position: -80px -416px;
	}

	&.grasslands_A-6-28 {
		background-position: -80px -432px;
	}

	&.grasslands_A-6-29 {
		background-position: -80px -448px;
	}

	&.grasslands_A-6-30 {
		background-position: -80px -464px;
	}

	&.grasslands_A-6-31 {
		background-position: -80px -480px;
	}

	&.grasslands_A-7-1 {
		background-position: -96px -0px;
	}

	&.grasslands_A-7-2 {
		background-position: -96px -16px;
	}

	&.grasslands_A-7-3 {
		background-position: -96px -32px;
	}

	&.grasslands_A-7-4 {
		background-position: -96px -48px;
	}

	&.grasslands_A-7-5 {
		background-position: -96px -64px;
	}

	&.grasslands_A-7-6 {
		background-position: -96px -80px;
	}

	&.grasslands_A-7-7 {
		background-position: -96px -96px;
	}

	&.grasslands_A-7-8 {
		background-position: -96px -112px;
	}

	&.grasslands_A-7-9 {
		background-position: -96px -128px;
	}

	&.grasslands_A-7-10 {
		background-position: -96px -144px;
	}

	&.grasslands_A-7-11 {
		background-position: -96px -160px;
	}

	&.grasslands_A-7-12 {
		background-position: -96px -176px;
	}

	&.grasslands_A-7-13 {
		background-position: -96px -192px;
	}

	&.grasslands_A-7-14 {
		background-position: -96px -208px;
	}

	&.grasslands_A-7-15 {
		background-position: -96px -224px;
	}

	&.grasslands_A-7-16 {
		background-position: -96px -240px;
	}

	&.grasslands_A-7-17 {
		background-position: -96px -256px;
	}

	&.grasslands_A-7-18 {
		background-position: -96px -272px;
	}

	&.grasslands_A-7-19 {
		background-position: -96px -288px;
	}

	&.grasslands_A-7-20 {
		background-position: -96px -304px;
	}

	&.grasslands_A-7-21 {
		background-position: -96px -320px;
	}

	&.grasslands_A-7-22 {
		background-position: -96px -336px;
	}

	&.grasslands_A-7-23 {
		background-position: -96px -352px;
	}

	&.grasslands_A-7-24 {
		background-position: -96px -368px;
	}

	&.grasslands_A-7-25 {
		background-position: -96px -384px;
	}

	&.grasslands_A-7-26 {
		background-position: -96px -400px;
	}

	&.grasslands_A-7-27 {
		background-position: -96px -416px;
	}

	&.grasslands_A-7-28 {
		background-position: -96px -432px;
	}

	&.grasslands_A-7-29 {
		background-position: -96px -448px;
	}

	&.grasslands_A-7-30 {
		background-position: -96px -464px;
	}

	&.grasslands_A-7-31 {
		background-position: -96px -480px;
	}

	&.grasslands_A-8-1 {
		background-position: -112px -0px;
	}

	&.grasslands_A-8-2 {
		background-position: -112px -16px;
	}

	&.grasslands_A-8-3 {
		background-position: -112px -32px;
	}

	&.grasslands_A-8-4 {
		background-position: -112px -48px;
	}

	&.grasslands_A-8-5 {
		background-position: -112px -64px;
	}

	&.grasslands_A-8-6 {
		background-position: -112px -80px;
	}

	&.grasslands_A-8-7 {
		background-position: -112px -96px;
	}

	&.grasslands_A-8-8 {
		background-position: -112px -112px;
	}

	&.grasslands_A-8-9 {
		background-position: -112px -128px;
	}

	&.grasslands_A-8-10 {
		background-position: -112px -144px;
	}

	&.grasslands_A-8-11 {
		background-position: -112px -160px;
	}

	&.grasslands_A-8-12 {
		background-position: -112px -176px;
	}

	&.grasslands_A-8-13 {
		background-position: -112px -192px;
	}

	&.grasslands_A-8-14 {
		background-position: -112px -208px;
	}

	&.grasslands_A-8-15 {
		background-position: -112px -224px;
	}

	&.grasslands_A-8-16 {
		background-position: -112px -240px;
	}

	&.grasslands_A-8-17 {
		background-position: -112px -256px;
	}

	&.grasslands_A-8-18 {
		background-position: -112px -272px;
	}

	&.grasslands_A-8-19 {
		background-position: -112px -288px;
	}

	&.grasslands_A-8-20 {
		background-position: -112px -304px;
	}

	&.grasslands_A-8-21 {
		background-position: -112px -320px;
	}

	&.grasslands_A-8-22 {
		background-position: -112px -336px;
	}

	&.grasslands_A-8-23 {
		background-position: -112px -352px;
	}

	&.grasslands_A-8-24 {
		background-position: -112px -368px;
	}

	&.grasslands_A-8-25 {
		background-position: -112px -384px;
	}

	&.grasslands_A-8-26 {
		background-position: -112px -400px;
	}

	&.grasslands_A-8-27 {
		background-position: -112px -416px;
	}

	&.grasslands_A-8-28 {
		background-position: -112px -432px;
	}

	&.grasslands_A-8-29 {
		background-position: -112px -448px;
	}

	&.grasslands_A-8-30 {
		background-position: -112px -464px;
	}

	&.grasslands_A-8-31 {
		background-position: -112px -480px;
	}

	&.grasslands_A-9-1 {
		background-position: -128px -0px;
	}

	&.grasslands_A-9-2 {
		background-position: -128px -16px;
	}

	&.grasslands_A-9-3 {
		background-position: -128px -32px;
	}

	&.grasslands_A-9-4 {
		background-position: -128px -48px;
	}

	&.grasslands_A-9-5 {
		background-position: -128px -64px;
	}

	&.grasslands_A-9-6 {
		background-position: -128px -80px;
	}

	&.grasslands_A-9-7 {
		background-position: -128px -96px;
	}

	&.grasslands_A-9-8 {
		background-position: -128px -112px;
	}

	&.grasslands_A-9-9 {
		background-position: -128px -128px;
	}

	&.grasslands_A-9-10 {
		background-position: -128px -144px;
	}

	&.grasslands_A-9-11 {
		background-position: -128px -160px;
	}

	&.grasslands_A-9-12 {
		background-position: -128px -176px;
	}

	&.grasslands_A-9-13 {
		background-position: -128px -192px;
	}

	&.grasslands_A-9-14 {
		background-position: -128px -208px;
	}

	&.grasslands_A-9-15 {
		background-position: -128px -224px;
	}

	&.grasslands_A-9-16 {
		background-position: -128px -240px;
	}

	&.grasslands_A-9-17 {
		background-position: -128px -256px;
	}

	&.grasslands_A-9-18 {
		background-position: -128px -272px;
	}

	&.grasslands_A-9-19 {
		background-position: -128px -288px;
	}

	&.grasslands_A-9-20 {
		background-position: -128px -304px;
	}

	&.grasslands_A-9-21 {
		background-position: -128px -320px;
	}

	&.grasslands_A-9-22 {
		background-position: -128px -336px;
	}

	&.grasslands_A-9-23 {
		background-position: -128px -352px;
	}

	&.grasslands_A-9-24 {
		background-position: -128px -368px;
	}

	&.grasslands_A-9-25 {
		background-position: -128px -384px;
	}

	&.grasslands_A-9-26 {
		background-position: -128px -400px;
	}

	&.grasslands_A-9-27 {
		background-position: -128px -416px;
	}

	&.grasslands_A-9-28 {
		background-position: -128px -432px;
	}

	&.grasslands_A-9-29 {
		background-position: -128px -448px;
	}

	&.grasslands_A-9-30 {
		background-position: -128px -464px;
	}

	&.grasslands_A-9-31 {
		background-position: -128px -480px;
	}

	&.grasslands_A-10-1 {
		background-position: -144px -0px;
	}

	&.grasslands_A-10-2 {
		background-position: -144px -16px;
	}

	&.grasslands_A-10-3 {
		background-position: -144px -32px;
	}

	&.grasslands_A-10-4 {
		background-position: -144px -48px;
	}

	&.grasslands_A-10-5 {
		background-position: -144px -64px;
	}

	&.grasslands_A-10-6 {
		background-position: -144px -80px;
	}

	&.grasslands_A-10-7 {
		background-position: -144px -96px;
	}

	&.grasslands_A-10-8 {
		background-position: -144px -112px;
	}

	&.grasslands_A-10-9 {
		background-position: -144px -128px;
	}

	&.grasslands_A-10-10 {
		background-position: -144px -144px;
	}

	&.grasslands_A-10-11 {
		background-position: -144px -160px;
	}

	&.grasslands_A-10-12 {
		background-position: -144px -176px;
	}

	&.grasslands_A-10-13 {
		background-position: -144px -192px;
	}

	&.grasslands_A-10-14 {
		background-position: -144px -208px;
	}

	&.grasslands_A-10-15 {
		background-position: -144px -224px;
	}

	&.grasslands_A-10-16 {
		background-position: -144px -240px;
	}

	&.grasslands_A-10-17 {
		background-position: -144px -256px;
	}

	&.grasslands_A-10-18 {
		background-position: -144px -272px;
	}

	&.grasslands_A-10-19 {
		background-position: -144px -288px;
	}

	&.grasslands_A-10-20 {
		background-position: -144px -304px;
	}

	&.grasslands_A-10-21 {
		background-position: -144px -320px;
	}

	&.grasslands_A-10-22 {
		background-position: -144px -336px;
	}

	&.grasslands_A-10-23 {
		background-position: -144px -352px;
	}

	&.grasslands_A-10-24 {
		background-position: -144px -368px;
	}

	&.grasslands_A-10-25 {
		background-position: -144px -384px;
	}

	&.grasslands_A-10-26 {
		background-position: -144px -400px;
	}

	&.grasslands_A-10-27 {
		background-position: -144px -416px;
	}

	&.grasslands_A-10-28 {
		background-position: -144px -432px;
	}

	&.grasslands_A-10-29 {
		background-position: -144px -448px;
	}

	&.grasslands_A-10-30 {
		background-position: -144px -464px;
	}

	&.grasslands_A-10-31 {
		background-position: -144px -480px;
	}

	&.grasslands_A-11-1 {
		background-position: -160px -0px;
	}

	&.grasslands_A-11-2 {
		background-position: -160px -16px;
	}

	&.grasslands_A-11-3 {
		background-position: -160px -32px;
	}

	&.grasslands_A-11-4 {
		background-position: -160px -48px;
	}

	&.grasslands_A-11-5 {
		background-position: -160px -64px;
	}

	&.grasslands_A-11-6 {
		background-position: -160px -80px;
	}

	&.grasslands_A-11-7 {
		background-position: -160px -96px;
	}

	&.grasslands_A-11-8 {
		background-position: -160px -112px;
	}

	&.grasslands_A-11-9 {
		background-position: -160px -128px;
	}

	&.grasslands_A-11-10 {
		background-position: -160px -144px;
	}

	&.grasslands_A-11-11 {
		background-position: -160px -160px;
	}

	&.grasslands_A-11-12 {
		background-position: -160px -176px;
	}

	&.grasslands_A-11-13 {
		background-position: -160px -192px;
	}

	&.grasslands_A-11-14 {
		background-position: -160px -208px;
	}

	&.grasslands_A-11-15 {
		background-position: -160px -224px;
	}

	&.grasslands_A-11-16 {
		background-position: -160px -240px;
	}

	&.grasslands_A-11-17 {
		background-position: -160px -256px;
	}

	&.grasslands_A-11-18 {
		background-position: -160px -272px;
	}

	&.grasslands_A-11-19 {
		background-position: -160px -288px;
	}

	&.grasslands_A-11-20 {
		background-position: -160px -304px;
	}

	&.grasslands_A-11-21 {
		background-position: -160px -320px;
	}

	&.grasslands_A-11-22 {
		background-position: -160px -336px;
	}

	&.grasslands_A-11-23 {
		background-position: -160px -352px;
	}

	&.grasslands_A-11-24 {
		background-position: -160px -368px;
	}

	&.grasslands_A-11-25 {
		background-position: -160px -384px;
	}

	&.grasslands_A-11-26 {
		background-position: -160px -400px;
	}

	&.grasslands_A-11-27 {
		background-position: -160px -416px;
	}

	&.grasslands_A-11-28 {
		background-position: -160px -432px;
	}

	&.grasslands_A-11-29 {
		background-position: -160px -448px;
	}

	&.grasslands_A-11-30 {
		background-position: -160px -464px;
	}

	&.grasslands_A-11-31 {
		background-position: -160px -480px;
	}

	&.grasslands_A-12-1 {
		background-position: -176px -0px;
	}

	&.grasslands_A-12-2 {
		background-position: -176px -16px;
	}

	&.grasslands_A-12-3 {
		background-position: -176px -32px;
	}

	&.grasslands_A-12-4 {
		background-position: -176px -48px;
	}

	&.grasslands_A-12-5 {
		background-position: -176px -64px;
	}

	&.grasslands_A-12-6 {
		background-position: -176px -80px;
	}

	&.grasslands_A-12-7 {
		background-position: -176px -96px;
	}

	&.grasslands_A-12-8 {
		background-position: -176px -112px;
	}

	&.grasslands_A-12-9 {
		background-position: -176px -128px;
	}

	&.grasslands_A-12-10 {
		background-position: -176px -144px;
	}

	&.grasslands_A-12-11 {
		background-position: -176px -160px;
	}

	&.grasslands_A-12-12 {
		background-position: -176px -176px;
	}

	&.grasslands_A-12-13 {
		background-position: -176px -192px;
	}

	&.grasslands_A-12-14 {
		background-position: -176px -208px;
	}

	&.grasslands_A-12-15 {
		background-position: -176px -224px;
	}

	&.grasslands_A-12-16 {
		background-position: -176px -240px;
	}

	&.grasslands_A-12-17 {
		background-position: -176px -256px;
	}

	&.grasslands_A-12-18 {
		background-position: -176px -272px;
	}

	&.grasslands_A-12-19 {
		background-position: -176px -288px;
	}

	&.grasslands_A-12-20 {
		background-position: -176px -304px;
	}

	&.grasslands_A-12-21 {
		background-position: -176px -320px;
	}

	&.grasslands_A-12-22 {
		background-position: -176px -336px;
	}

	&.grasslands_A-12-23 {
		background-position: -176px -352px;
	}

	&.grasslands_A-12-24 {
		background-position: -176px -368px;
	}

	&.grasslands_A-12-25 {
		background-position: -176px -384px;
	}

	&.grasslands_A-12-26 {
		background-position: -176px -400px;
	}

	&.grasslands_A-12-27 {
		background-position: -176px -416px;
	}

	&.grasslands_A-12-28 {
		background-position: -176px -432px;
	}

	&.grasslands_A-12-29 {
		background-position: -176px -448px;
	}

	&.grasslands_A-12-30 {
		background-position: -176px -464px;
	}

	&.grasslands_A-12-31 {
		background-position: -176px -480px;
	}

	&.grasslands_A-13-1 {
		background-position: -192px -0px;
	}

	&.grasslands_A-13-2 {
		background-position: -192px -16px;
	}

	&.grasslands_A-13-3 {
		background-position: -192px -32px;
	}

	&.grasslands_A-13-4 {
		background-position: -192px -48px;
	}

	&.grasslands_A-13-5 {
		background-position: -192px -64px;
	}

	&.grasslands_A-13-6 {
		background-position: -192px -80px;
	}

	&.grasslands_A-13-7 {
		background-position: -192px -96px;
	}

	&.grasslands_A-13-8 {
		background-position: -192px -112px;
	}

	&.grasslands_A-13-9 {
		background-position: -192px -128px;
	}

	&.grasslands_A-13-10 {
		background-position: -192px -144px;
	}

	&.grasslands_A-13-11 {
		background-position: -192px -160px;
	}

	&.grasslands_A-13-12 {
		background-position: -192px -176px;
	}

	&.grasslands_A-13-13 {
		background-position: -192px -192px;
	}

	&.grasslands_A-13-14 {
		background-position: -192px -208px;
	}

	&.grasslands_A-13-15 {
		background-position: -192px -224px;
	}

	&.grasslands_A-13-16 {
		background-position: -192px -240px;
	}

	&.grasslands_A-13-17 {
		background-position: -192px -256px;
	}

	&.grasslands_A-13-18 {
		background-position: -192px -272px;
	}

	&.grasslands_A-13-19 {
		background-position: -192px -288px;
	}

	&.grasslands_A-13-20 {
		background-position: -192px -304px;
	}

	&.grasslands_A-13-21 {
		background-position: -192px -320px;
	}

	&.grasslands_A-13-22 {
		background-position: -192px -336px;
	}

	&.grasslands_A-13-23 {
		background-position: -192px -352px;
	}

	&.grasslands_A-13-24 {
		background-position: -192px -368px;
	}

	&.grasslands_A-13-25 {
		background-position: -192px -384px;
	}

	&.grasslands_A-13-26 {
		background-position: -192px -400px;
	}

	&.grasslands_A-13-27 {
		background-position: -192px -416px;
	}

	&.grasslands_A-13-28 {
		background-position: -192px -432px;
	}

	&.grasslands_A-13-29 {
		background-position: -192px -448px;
	}

	&.grasslands_A-13-30 {
		background-position: -192px -464px;
	}

	&.grasslands_A-13-31 {
		background-position: -192px -480px;
	}

	&.grasslands_A-14-1 {
		background-position: -208px -0px;
	}

	&.grasslands_A-14-2 {
		background-position: -208px -16px;
	}

	&.grasslands_A-14-3 {
		background-position: -208px -32px;
	}

	&.grasslands_A-14-4 {
		background-position: -208px -48px;
	}

	&.grasslands_A-14-5 {
		background-position: -208px -64px;
	}

	&.grasslands_A-14-6 {
		background-position: -208px -80px;
	}

	&.grasslands_A-14-7 {
		background-position: -208px -96px;
	}

	&.grasslands_A-14-8 {
		background-position: -208px -112px;
	}

	&.grasslands_A-14-9 {
		background-position: -208px -128px;
	}

	&.grasslands_A-14-10 {
		background-position: -208px -144px;
	}

	&.grasslands_A-14-11 {
		background-position: -208px -160px;
	}

	&.grasslands_A-14-12 {
		background-position: -208px -176px;
	}

	&.grasslands_A-14-13 {
		background-position: -208px -192px;
	}

	&.grasslands_A-14-14 {
		background-position: -208px -208px;
	}

	&.grasslands_A-14-15 {
		background-position: -208px -224px;
	}

	&.grasslands_A-14-16 {
		background-position: -208px -240px;
	}

	&.grasslands_A-14-17 {
		background-position: -208px -256px;
	}

	&.grasslands_A-14-18 {
		background-position: -208px -272px;
	}

	&.grasslands_A-14-19 {
		background-position: -208px -288px;
	}

	&.grasslands_A-14-20 {
		background-position: -208px -304px;
	}

	&.grasslands_A-14-21 {
		background-position: -208px -320px;
	}

	&.grasslands_A-14-22 {
		background-position: -208px -336px;
	}

	&.grasslands_A-14-23 {
		background-position: -208px -352px;
	}

	&.grasslands_A-14-24 {
		background-position: -208px -368px;
	}

	&.grasslands_A-14-25 {
		background-position: -208px -384px;
	}

	&.grasslands_A-14-26 {
		background-position: -208px -400px;
	}

	&.grasslands_A-14-27 {
		background-position: -208px -416px;
	}

	&.grasslands_A-14-28 {
		background-position: -208px -432px;
	}

	&.grasslands_A-14-29 {
		background-position: -208px -448px;
	}

	&.grasslands_A-14-30 {
		background-position: -208px -464px;
	}

	&.grasslands_A-14-31 {
		background-position: -208px -480px;
	}

	&.grasslands_A-15-1 {
		background-position: -224px -0px;
	}

	&.grasslands_A-15-2 {
		background-position: -224px -16px;
	}

	&.grasslands_A-15-3 {
		background-position: -224px -32px;
	}

	&.grasslands_A-15-4 {
		background-position: -224px -48px;
	}

	&.grasslands_A-15-5 {
		background-position: -224px -64px;
	}

	&.grasslands_A-15-6 {
		background-position: -224px -80px;
	}

	&.grasslands_A-15-7 {
		background-position: -224px -96px;
	}

	&.grasslands_A-15-8 {
		background-position: -224px -112px;
	}

	&.grasslands_A-15-9 {
		background-position: -224px -128px;
	}

	&.grasslands_A-15-10 {
		background-position: -224px -144px;
	}

	&.grasslands_A-15-11 {
		background-position: -224px -160px;
	}

	&.grasslands_A-15-12 {
		background-position: -224px -176px;
	}

	&.grasslands_A-15-13 {
		background-position: -224px -192px;
	}

	&.grasslands_A-15-14 {
		background-position: -224px -208px;
	}

	&.grasslands_A-15-15 {
		background-position: -224px -224px;
	}

	&.grasslands_A-15-16 {
		background-position: -224px -240px;
	}

	&.grasslands_A-15-17 {
		background-position: -224px -256px;
	}

	&.grasslands_A-15-18 {
		background-position: -224px -272px;
	}

	&.grasslands_A-15-19 {
		background-position: -224px -288px;
	}

	&.grasslands_A-15-20 {
		background-position: -224px -304px;
	}

	&.grasslands_A-15-21 {
		background-position: -224px -320px;
	}

	&.grasslands_A-15-22 {
		background-position: -224px -336px;
	}

	&.grasslands_A-15-23 {
		background-position: -224px -352px;
	}

	&.grasslands_A-15-24 {
		background-position: -224px -368px;
	}

	&.grasslands_A-15-25 {
		background-position: -224px -384px;
	}

	&.grasslands_A-15-26 {
		background-position: -224px -400px;
	}

	&.grasslands_A-15-27 {
		background-position: -224px -416px;
	}

	&.grasslands_A-15-28 {
		background-position: -224px -432px;
	}

	&.grasslands_A-15-29 {
		background-position: -224px -448px;
	}

	&.grasslands_A-15-30 {
		background-position: -224px -464px;
	}

	&.grasslands_A-15-31 {
		background-position: -224px -480px;
	}

	&.grasslands_A-16-1 {
		background-position: -240px -0px;
	}

	&.grasslands_A-16-2 {
		background-position: -240px -16px;
	}

	&.grasslands_A-16-3 {
		background-position: -240px -32px;
	}

	&.grasslands_A-16-4 {
		background-position: -240px -48px;
	}

	&.grasslands_A-16-5 {
		background-position: -240px -64px;
	}

	&.grasslands_A-16-6 {
		background-position: -240px -80px;
	}

	&.grasslands_A-16-7 {
		background-position: -240px -96px;
	}

	&.grasslands_A-16-8 {
		background-position: -240px -112px;
	}

	&.grasslands_A-16-9 {
		background-position: -240px -128px;
	}

	&.grasslands_A-16-10 {
		background-position: -240px -144px;
	}

	&.grasslands_A-16-11 {
		background-position: -240px -160px;
	}

	&.grasslands_A-16-12 {
		background-position: -240px -176px;
	}

	&.grasslands_A-16-13 {
		background-position: -240px -192px;
	}

	&.grasslands_A-16-14 {
		background-position: -240px -208px;
	}

	&.grasslands_A-16-15 {
		background-position: -240px -224px;
	}

	&.grasslands_A-16-16 {
		background-position: -240px -240px;
	}

	&.grasslands_A-16-17 {
		background-position: -240px -256px;
	}

	&.grasslands_A-16-18 {
		background-position: -240px -272px;
	}

	&.grasslands_A-16-19 {
		background-position: -240px -288px;
	}

	&.grasslands_A-16-20 {
		background-position: -240px -304px;
	}

	&.grasslands_A-16-21 {
		background-position: -240px -320px;
	}

	&.grasslands_A-16-22 {
		background-position: -240px -336px;
	}

	&.grasslands_A-16-23 {
		background-position: -240px -352px;
	}

	&.grasslands_A-16-24 {
		background-position: -240px -368px;
	}

	&.grasslands_A-16-25 {
		background-position: -240px -384px;
	}

	&.grasslands_A-16-26 {
		background-position: -240px -400px;
	}

	&.grasslands_A-16-27 {
		background-position: -240px -416px;
	}

	&.grasslands_A-16-28 {
		background-position: -240px -432px;
	}

	&.grasslands_A-16-29 {
		background-position: -240px -448px;
	}

	&.grasslands_A-16-30 {
		background-position: -240px -464px;
	}

	&.grasslands_A-16-31 {
		background-position: -240px -480px;
	}

	&.grasslands_A-17-1 {
		background-position: -256px -0px;
	}

	&.grasslands_A-17-2 {
		background-position: -256px -16px;
	}

	&.grasslands_A-17-3 {
		background-position: -256px -32px;
	}

	&.grasslands_A-17-4 {
		background-position: -256px -48px;
	}

	&.grasslands_A-17-5 {
		background-position: -256px -64px;
	}

	&.grasslands_A-17-6 {
		background-position: -256px -80px;
	}

	&.grasslands_A-17-7 {
		background-position: -256px -96px;
	}

	&.grasslands_A-17-8 {
		background-position: -256px -112px;
	}

	&.grasslands_A-17-9 {
		background-position: -256px -128px;
	}

	&.grasslands_A-17-10 {
		background-position: -256px -144px;
	}

	&.grasslands_A-17-11 {
		background-position: -256px -160px;
	}

	&.grasslands_A-17-12 {
		background-position: -256px -176px;
	}

	&.grasslands_A-17-13 {
		background-position: -256px -192px;
	}

	&.grasslands_A-17-14 {
		background-position: -256px -208px;
	}

	&.grasslands_A-17-15 {
		background-position: -256px -224px;
	}

	&.grasslands_A-17-16 {
		background-position: -256px -240px;
	}

	&.grasslands_A-17-17 {
		background-position: -256px -256px;
	}

	&.grasslands_A-17-18 {
		background-position: -256px -272px;
	}

	&.grasslands_A-17-19 {
		background-position: -256px -288px;
	}

	&.grasslands_A-17-20 {
		background-position: -256px -304px;
	}

	&.grasslands_A-17-21 {
		background-position: -256px -320px;
	}

	&.grasslands_A-17-22 {
		background-position: -256px -336px;
	}

	&.grasslands_A-17-23 {
		background-position: -256px -352px;
	}

	&.grasslands_A-17-24 {
		background-position: -256px -368px;
	}

	&.grasslands_A-17-25 {
		background-position: -256px -384px;
	}

	&.grasslands_A-17-26 {
		background-position: -256px -400px;
	}

	&.grasslands_A-17-27 {
		background-position: -256px -416px;
	}

	&.grasslands_A-17-28 {
		background-position: -256px -432px;
	}

	&.grasslands_A-17-29 {
		background-position: -256px -448px;
	}

	&.grasslands_A-17-30 {
		background-position: -256px -464px;
	}

	&.grasslands_A-17-31 {
		background-position: -256px -480px;
	}

	&.grasslands_A-18-1 {
		background-position: -272px -0px;
	}

	&.grasslands_A-18-2 {
		background-position: -272px -16px;
	}

	&.grasslands_A-18-3 {
		background-position: -272px -32px;
	}

	&.grasslands_A-18-4 {
		background-position: -272px -48px;
	}

	&.grasslands_A-18-5 {
		background-position: -272px -64px;
	}

	&.grasslands_A-18-6 {
		background-position: -272px -80px;
	}

	&.grasslands_A-18-7 {
		background-position: -272px -96px;
	}

	&.grasslands_A-18-8 {
		background-position: -272px -112px;
	}

	&.grasslands_A-18-9 {
		background-position: -272px -128px;
	}

	&.grasslands_A-18-10 {
		background-position: -272px -144px;
	}

	&.grasslands_A-18-11 {
		background-position: -272px -160px;
	}

	&.grasslands_A-18-12 {
		background-position: -272px -176px;
	}

	&.grasslands_A-18-13 {
		background-position: -272px -192px;
	}

	&.grasslands_A-18-14 {
		background-position: -272px -208px;
	}

	&.grasslands_A-18-15 {
		background-position: -272px -224px;
	}

	&.grasslands_A-18-16 {
		background-position: -272px -240px;
	}

	&.grasslands_A-18-17 {
		background-position: -272px -256px;
	}

	&.grasslands_A-18-18 {
		background-position: -272px -272px;
	}

	&.grasslands_A-18-19 {
		background-position: -272px -288px;
	}

	&.grasslands_A-18-20 {
		background-position: -272px -304px;
	}

	&.grasslands_A-18-21 {
		background-position: -272px -320px;
	}

	&.grasslands_A-18-22 {
		background-position: -272px -336px;
	}

	&.grasslands_A-18-23 {
		background-position: -272px -352px;
	}

	&.grasslands_A-18-24 {
		background-position: -272px -368px;
	}

	&.grasslands_A-18-25 {
		background-position: -272px -384px;
	}

	&.grasslands_A-18-26 {
		background-position: -272px -400px;
	}

	&.grasslands_A-18-27 {
		background-position: -272px -416px;
	}

	&.grasslands_A-18-28 {
		background-position: -272px -432px;
	}

	&.grasslands_A-18-29 {
		background-position: -272px -448px;
	}

	&.grasslands_A-18-30 {
		background-position: -272px -464px;
	}

	&.grasslands_A-18-31 {
		background-position: -272px -480px;
	}

}
