.town_C {
	background-image: url(/system/tilesets/pngs/000/000/011/original/town_C.png?1519534145);
	width: 16px;
	height: 16px;

	&.town_C-1-1 {
		background-position: -0px -0px;
	}

	&.town_C-1-2 {
		background-position: -0px -16px;
	}

	&.town_C-1-3 {
		background-position: -0px -32px;
	}

	&.town_C-1-4 {
		background-position: -0px -48px;
	}

	&.town_C-1-5 {
		background-position: -0px -64px;
	}

	&.town_C-1-6 {
		background-position: -0px -80px;
	}

	&.town_C-1-7 {
		background-position: -0px -96px;
	}

	&.town_C-1-8 {
		background-position: -0px -112px;
	}

	&.town_C-1-9 {
		background-position: -0px -128px;
	}

	&.town_C-1-10 {
		background-position: -0px -144px;
	}

	&.town_C-1-11 {
		background-position: -0px -160px;
	}

	&.town_C-1-12 {
		background-position: -0px -176px;
	}

	&.town_C-1-13 {
		background-position: -0px -192px;
	}

	&.town_C-1-14 {
		background-position: -0px -208px;
	}

	&.town_C-1-15 {
		background-position: -0px -224px;
	}

	&.town_C-1-16 {
		background-position: -0px -240px;
	}

	&.town_C-1-17 {
		background-position: -0px -256px;
	}

	&.town_C-1-18 {
		background-position: -0px -272px;
	}

	&.town_C-1-19 {
		background-position: -0px -288px;
	}

	&.town_C-1-20 {
		background-position: -0px -304px;
	}

	&.town_C-1-21 {
		background-position: -0px -320px;
	}

	&.town_C-2-1 {
		background-position: -16px -0px;
	}

	&.town_C-2-2 {
		background-position: -16px -16px;
	}

	&.town_C-2-3 {
		background-position: -16px -32px;
	}

	&.town_C-2-4 {
		background-position: -16px -48px;
	}

	&.town_C-2-5 {
		background-position: -16px -64px;
	}

	&.town_C-2-6 {
		background-position: -16px -80px;
	}

	&.town_C-2-7 {
		background-position: -16px -96px;
	}

	&.town_C-2-8 {
		background-position: -16px -112px;
	}

	&.town_C-2-9 {
		background-position: -16px -128px;
	}

	&.town_C-2-10 {
		background-position: -16px -144px;
	}

	&.town_C-2-11 {
		background-position: -16px -160px;
	}

	&.town_C-2-12 {
		background-position: -16px -176px;
	}

	&.town_C-2-13 {
		background-position: -16px -192px;
	}

	&.town_C-2-14 {
		background-position: -16px -208px;
	}

	&.town_C-2-15 {
		background-position: -16px -224px;
	}

	&.town_C-2-16 {
		background-position: -16px -240px;
	}

	&.town_C-2-17 {
		background-position: -16px -256px;
	}

	&.town_C-2-18 {
		background-position: -16px -272px;
	}

	&.town_C-2-19 {
		background-position: -16px -288px;
	}

	&.town_C-2-20 {
		background-position: -16px -304px;
	}

	&.town_C-2-21 {
		background-position: -16px -320px;
	}

	&.town_C-3-1 {
		background-position: -32px -0px;
	}

	&.town_C-3-2 {
		background-position: -32px -16px;
	}

	&.town_C-3-3 {
		background-position: -32px -32px;
	}

	&.town_C-3-4 {
		background-position: -32px -48px;
	}

	&.town_C-3-5 {
		background-position: -32px -64px;
	}

	&.town_C-3-6 {
		background-position: -32px -80px;
	}

	&.town_C-3-7 {
		background-position: -32px -96px;
	}

	&.town_C-3-8 {
		background-position: -32px -112px;
	}

	&.town_C-3-9 {
		background-position: -32px -128px;
	}

	&.town_C-3-10 {
		background-position: -32px -144px;
	}

	&.town_C-3-11 {
		background-position: -32px -160px;
	}

	&.town_C-3-12 {
		background-position: -32px -176px;
	}

	&.town_C-3-13 {
		background-position: -32px -192px;
	}

	&.town_C-3-14 {
		background-position: -32px -208px;
	}

	&.town_C-3-15 {
		background-position: -32px -224px;
	}

	&.town_C-3-16 {
		background-position: -32px -240px;
	}

	&.town_C-3-17 {
		background-position: -32px -256px;
	}

	&.town_C-3-18 {
		background-position: -32px -272px;
	}

	&.town_C-3-19 {
		background-position: -32px -288px;
	}

	&.town_C-3-20 {
		background-position: -32px -304px;
	}

	&.town_C-3-21 {
		background-position: -32px -320px;
	}

	&.town_C-4-1 {
		background-position: -48px -0px;
	}

	&.town_C-4-2 {
		background-position: -48px -16px;
	}

	&.town_C-4-3 {
		background-position: -48px -32px;
	}

	&.town_C-4-4 {
		background-position: -48px -48px;
	}

	&.town_C-4-5 {
		background-position: -48px -64px;
	}

	&.town_C-4-6 {
		background-position: -48px -80px;
	}

	&.town_C-4-7 {
		background-position: -48px -96px;
	}

	&.town_C-4-8 {
		background-position: -48px -112px;
	}

	&.town_C-4-9 {
		background-position: -48px -128px;
	}

	&.town_C-4-10 {
		background-position: -48px -144px;
	}

	&.town_C-4-11 {
		background-position: -48px -160px;
	}

	&.town_C-4-12 {
		background-position: -48px -176px;
	}

	&.town_C-4-13 {
		background-position: -48px -192px;
	}

	&.town_C-4-14 {
		background-position: -48px -208px;
	}

	&.town_C-4-15 {
		background-position: -48px -224px;
	}

	&.town_C-4-16 {
		background-position: -48px -240px;
	}

	&.town_C-4-17 {
		background-position: -48px -256px;
	}

	&.town_C-4-18 {
		background-position: -48px -272px;
	}

	&.town_C-4-19 {
		background-position: -48px -288px;
	}

	&.town_C-4-20 {
		background-position: -48px -304px;
	}

	&.town_C-4-21 {
		background-position: -48px -320px;
	}

	&.town_C-5-1 {
		background-position: -64px -0px;
	}

	&.town_C-5-2 {
		background-position: -64px -16px;
	}

	&.town_C-5-3 {
		background-position: -64px -32px;
	}

	&.town_C-5-4 {
		background-position: -64px -48px;
	}

	&.town_C-5-5 {
		background-position: -64px -64px;
	}

	&.town_C-5-6 {
		background-position: -64px -80px;
	}

	&.town_C-5-7 {
		background-position: -64px -96px;
	}

	&.town_C-5-8 {
		background-position: -64px -112px;
	}

	&.town_C-5-9 {
		background-position: -64px -128px;
	}

	&.town_C-5-10 {
		background-position: -64px -144px;
	}

	&.town_C-5-11 {
		background-position: -64px -160px;
	}

	&.town_C-5-12 {
		background-position: -64px -176px;
	}

	&.town_C-5-13 {
		background-position: -64px -192px;
	}

	&.town_C-5-14 {
		background-position: -64px -208px;
	}

	&.town_C-5-15 {
		background-position: -64px -224px;
	}

	&.town_C-5-16 {
		background-position: -64px -240px;
	}

	&.town_C-5-17 {
		background-position: -64px -256px;
	}

	&.town_C-5-18 {
		background-position: -64px -272px;
	}

	&.town_C-5-19 {
		background-position: -64px -288px;
	}

	&.town_C-5-20 {
		background-position: -64px -304px;
	}

	&.town_C-5-21 {
		background-position: -64px -320px;
	}

	&.town_C-6-1 {
		background-position: -80px -0px;
	}

	&.town_C-6-2 {
		background-position: -80px -16px;
	}

	&.town_C-6-3 {
		background-position: -80px -32px;
	}

	&.town_C-6-4 {
		background-position: -80px -48px;
	}

	&.town_C-6-5 {
		background-position: -80px -64px;
	}

	&.town_C-6-6 {
		background-position: -80px -80px;
	}

	&.town_C-6-7 {
		background-position: -80px -96px;
	}

	&.town_C-6-8 {
		background-position: -80px -112px;
	}

	&.town_C-6-9 {
		background-position: -80px -128px;
	}

	&.town_C-6-10 {
		background-position: -80px -144px;
	}

	&.town_C-6-11 {
		background-position: -80px -160px;
	}

	&.town_C-6-12 {
		background-position: -80px -176px;
	}

	&.town_C-6-13 {
		background-position: -80px -192px;
	}

	&.town_C-6-14 {
		background-position: -80px -208px;
	}

	&.town_C-6-15 {
		background-position: -80px -224px;
	}

	&.town_C-6-16 {
		background-position: -80px -240px;
	}

	&.town_C-6-17 {
		background-position: -80px -256px;
	}

	&.town_C-6-18 {
		background-position: -80px -272px;
	}

	&.town_C-6-19 {
		background-position: -80px -288px;
	}

	&.town_C-6-20 {
		background-position: -80px -304px;
	}

	&.town_C-6-21 {
		background-position: -80px -320px;
	}

	&.town_C-7-1 {
		background-position: -96px -0px;
	}

	&.town_C-7-2 {
		background-position: -96px -16px;
	}

	&.town_C-7-3 {
		background-position: -96px -32px;
	}

	&.town_C-7-4 {
		background-position: -96px -48px;
	}

	&.town_C-7-5 {
		background-position: -96px -64px;
	}

	&.town_C-7-6 {
		background-position: -96px -80px;
	}

	&.town_C-7-7 {
		background-position: -96px -96px;
	}

	&.town_C-7-8 {
		background-position: -96px -112px;
	}

	&.town_C-7-9 {
		background-position: -96px -128px;
	}

	&.town_C-7-10 {
		background-position: -96px -144px;
	}

	&.town_C-7-11 {
		background-position: -96px -160px;
	}

	&.town_C-7-12 {
		background-position: -96px -176px;
	}

	&.town_C-7-13 {
		background-position: -96px -192px;
	}

	&.town_C-7-14 {
		background-position: -96px -208px;
	}

	&.town_C-7-15 {
		background-position: -96px -224px;
	}

	&.town_C-7-16 {
		background-position: -96px -240px;
	}

	&.town_C-7-17 {
		background-position: -96px -256px;
	}

	&.town_C-7-18 {
		background-position: -96px -272px;
	}

	&.town_C-7-19 {
		background-position: -96px -288px;
	}

	&.town_C-7-20 {
		background-position: -96px -304px;
	}

	&.town_C-7-21 {
		background-position: -96px -320px;
	}

	&.town_C-8-1 {
		background-position: -112px -0px;
	}

	&.town_C-8-2 {
		background-position: -112px -16px;
	}

	&.town_C-8-3 {
		background-position: -112px -32px;
	}

	&.town_C-8-4 {
		background-position: -112px -48px;
	}

	&.town_C-8-5 {
		background-position: -112px -64px;
	}

	&.town_C-8-6 {
		background-position: -112px -80px;
	}

	&.town_C-8-7 {
		background-position: -112px -96px;
	}

	&.town_C-8-8 {
		background-position: -112px -112px;
	}

	&.town_C-8-9 {
		background-position: -112px -128px;
	}

	&.town_C-8-10 {
		background-position: -112px -144px;
	}

	&.town_C-8-11 {
		background-position: -112px -160px;
	}

	&.town_C-8-12 {
		background-position: -112px -176px;
	}

	&.town_C-8-13 {
		background-position: -112px -192px;
	}

	&.town_C-8-14 {
		background-position: -112px -208px;
	}

	&.town_C-8-15 {
		background-position: -112px -224px;
	}

	&.town_C-8-16 {
		background-position: -112px -240px;
	}

	&.town_C-8-17 {
		background-position: -112px -256px;
	}

	&.town_C-8-18 {
		background-position: -112px -272px;
	}

	&.town_C-8-19 {
		background-position: -112px -288px;
	}

	&.town_C-8-20 {
		background-position: -112px -304px;
	}

	&.town_C-8-21 {
		background-position: -112px -320px;
	}

	&.town_C-9-1 {
		background-position: -128px -0px;
	}

	&.town_C-9-2 {
		background-position: -128px -16px;
	}

	&.town_C-9-3 {
		background-position: -128px -32px;
	}

	&.town_C-9-4 {
		background-position: -128px -48px;
	}

	&.town_C-9-5 {
		background-position: -128px -64px;
	}

	&.town_C-9-6 {
		background-position: -128px -80px;
	}

	&.town_C-9-7 {
		background-position: -128px -96px;
	}

	&.town_C-9-8 {
		background-position: -128px -112px;
	}

	&.town_C-9-9 {
		background-position: -128px -128px;
	}

	&.town_C-9-10 {
		background-position: -128px -144px;
	}

	&.town_C-9-11 {
		background-position: -128px -160px;
	}

	&.town_C-9-12 {
		background-position: -128px -176px;
	}

	&.town_C-9-13 {
		background-position: -128px -192px;
	}

	&.town_C-9-14 {
		background-position: -128px -208px;
	}

	&.town_C-9-15 {
		background-position: -128px -224px;
	}

	&.town_C-9-16 {
		background-position: -128px -240px;
	}

	&.town_C-9-17 {
		background-position: -128px -256px;
	}

	&.town_C-9-18 {
		background-position: -128px -272px;
	}

	&.town_C-9-19 {
		background-position: -128px -288px;
	}

	&.town_C-9-20 {
		background-position: -128px -304px;
	}

	&.town_C-9-21 {
		background-position: -128px -320px;
	}

	&.town_C-10-1 {
		background-position: -144px -0px;
	}

	&.town_C-10-2 {
		background-position: -144px -16px;
	}

	&.town_C-10-3 {
		background-position: -144px -32px;
	}

	&.town_C-10-4 {
		background-position: -144px -48px;
	}

	&.town_C-10-5 {
		background-position: -144px -64px;
	}

	&.town_C-10-6 {
		background-position: -144px -80px;
	}

	&.town_C-10-7 {
		background-position: -144px -96px;
	}

	&.town_C-10-8 {
		background-position: -144px -112px;
	}

	&.town_C-10-9 {
		background-position: -144px -128px;
	}

	&.town_C-10-10 {
		background-position: -144px -144px;
	}

	&.town_C-10-11 {
		background-position: -144px -160px;
	}

	&.town_C-10-12 {
		background-position: -144px -176px;
	}

	&.town_C-10-13 {
		background-position: -144px -192px;
	}

	&.town_C-10-14 {
		background-position: -144px -208px;
	}

	&.town_C-10-15 {
		background-position: -144px -224px;
	}

	&.town_C-10-16 {
		background-position: -144px -240px;
	}

	&.town_C-10-17 {
		background-position: -144px -256px;
	}

	&.town_C-10-18 {
		background-position: -144px -272px;
	}

	&.town_C-10-19 {
		background-position: -144px -288px;
	}

	&.town_C-10-20 {
		background-position: -144px -304px;
	}

	&.town_C-10-21 {
		background-position: -144px -320px;
	}

	&.town_C-11-1 {
		background-position: -160px -0px;
	}

	&.town_C-11-2 {
		background-position: -160px -16px;
	}

	&.town_C-11-3 {
		background-position: -160px -32px;
	}

	&.town_C-11-4 {
		background-position: -160px -48px;
	}

	&.town_C-11-5 {
		background-position: -160px -64px;
	}

	&.town_C-11-6 {
		background-position: -160px -80px;
	}

	&.town_C-11-7 {
		background-position: -160px -96px;
	}

	&.town_C-11-8 {
		background-position: -160px -112px;
	}

	&.town_C-11-9 {
		background-position: -160px -128px;
	}

	&.town_C-11-10 {
		background-position: -160px -144px;
	}

	&.town_C-11-11 {
		background-position: -160px -160px;
	}

	&.town_C-11-12 {
		background-position: -160px -176px;
	}

	&.town_C-11-13 {
		background-position: -160px -192px;
	}

	&.town_C-11-14 {
		background-position: -160px -208px;
	}

	&.town_C-11-15 {
		background-position: -160px -224px;
	}

	&.town_C-11-16 {
		background-position: -160px -240px;
	}

	&.town_C-11-17 {
		background-position: -160px -256px;
	}

	&.town_C-11-18 {
		background-position: -160px -272px;
	}

	&.town_C-11-19 {
		background-position: -160px -288px;
	}

	&.town_C-11-20 {
		background-position: -160px -304px;
	}

	&.town_C-11-21 {
		background-position: -160px -320px;
	}

	&.town_C-12-1 {
		background-position: -176px -0px;
	}

	&.town_C-12-2 {
		background-position: -176px -16px;
	}

	&.town_C-12-3 {
		background-position: -176px -32px;
	}

	&.town_C-12-4 {
		background-position: -176px -48px;
	}

	&.town_C-12-5 {
		background-position: -176px -64px;
	}

	&.town_C-12-6 {
		background-position: -176px -80px;
	}

	&.town_C-12-7 {
		background-position: -176px -96px;
	}

	&.town_C-12-8 {
		background-position: -176px -112px;
	}

	&.town_C-12-9 {
		background-position: -176px -128px;
	}

	&.town_C-12-10 {
		background-position: -176px -144px;
	}

	&.town_C-12-11 {
		background-position: -176px -160px;
	}

	&.town_C-12-12 {
		background-position: -176px -176px;
	}

	&.town_C-12-13 {
		background-position: -176px -192px;
	}

	&.town_C-12-14 {
		background-position: -176px -208px;
	}

	&.town_C-12-15 {
		background-position: -176px -224px;
	}

	&.town_C-12-16 {
		background-position: -176px -240px;
	}

	&.town_C-12-17 {
		background-position: -176px -256px;
	}

	&.town_C-12-18 {
		background-position: -176px -272px;
	}

	&.town_C-12-19 {
		background-position: -176px -288px;
	}

	&.town_C-12-20 {
		background-position: -176px -304px;
	}

	&.town_C-12-21 {
		background-position: -176px -320px;
	}

	&.town_C-13-1 {
		background-position: -192px -0px;
	}

	&.town_C-13-2 {
		background-position: -192px -16px;
	}

	&.town_C-13-3 {
		background-position: -192px -32px;
	}

	&.town_C-13-4 {
		background-position: -192px -48px;
	}

	&.town_C-13-5 {
		background-position: -192px -64px;
	}

	&.town_C-13-6 {
		background-position: -192px -80px;
	}

	&.town_C-13-7 {
		background-position: -192px -96px;
	}

	&.town_C-13-8 {
		background-position: -192px -112px;
	}

	&.town_C-13-9 {
		background-position: -192px -128px;
	}

	&.town_C-13-10 {
		background-position: -192px -144px;
	}

	&.town_C-13-11 {
		background-position: -192px -160px;
	}

	&.town_C-13-12 {
		background-position: -192px -176px;
	}

	&.town_C-13-13 {
		background-position: -192px -192px;
	}

	&.town_C-13-14 {
		background-position: -192px -208px;
	}

	&.town_C-13-15 {
		background-position: -192px -224px;
	}

	&.town_C-13-16 {
		background-position: -192px -240px;
	}

	&.town_C-13-17 {
		background-position: -192px -256px;
	}

	&.town_C-13-18 {
		background-position: -192px -272px;
	}

	&.town_C-13-19 {
		background-position: -192px -288px;
	}

	&.town_C-13-20 {
		background-position: -192px -304px;
	}

	&.town_C-13-21 {
		background-position: -192px -320px;
	}

	&.town_C-14-1 {
		background-position: -208px -0px;
	}

	&.town_C-14-2 {
		background-position: -208px -16px;
	}

	&.town_C-14-3 {
		background-position: -208px -32px;
	}

	&.town_C-14-4 {
		background-position: -208px -48px;
	}

	&.town_C-14-5 {
		background-position: -208px -64px;
	}

	&.town_C-14-6 {
		background-position: -208px -80px;
	}

	&.town_C-14-7 {
		background-position: -208px -96px;
	}

	&.town_C-14-8 {
		background-position: -208px -112px;
	}

	&.town_C-14-9 {
		background-position: -208px -128px;
	}

	&.town_C-14-10 {
		background-position: -208px -144px;
	}

	&.town_C-14-11 {
		background-position: -208px -160px;
	}

	&.town_C-14-12 {
		background-position: -208px -176px;
	}

	&.town_C-14-13 {
		background-position: -208px -192px;
	}

	&.town_C-14-14 {
		background-position: -208px -208px;
	}

	&.town_C-14-15 {
		background-position: -208px -224px;
	}

	&.town_C-14-16 {
		background-position: -208px -240px;
	}

	&.town_C-14-17 {
		background-position: -208px -256px;
	}

	&.town_C-14-18 {
		background-position: -208px -272px;
	}

	&.town_C-14-19 {
		background-position: -208px -288px;
	}

	&.town_C-14-20 {
		background-position: -208px -304px;
	}

	&.town_C-14-21 {
		background-position: -208px -320px;
	}

	&.town_C-15-1 {
		background-position: -224px -0px;
	}

	&.town_C-15-2 {
		background-position: -224px -16px;
	}

	&.town_C-15-3 {
		background-position: -224px -32px;
	}

	&.town_C-15-4 {
		background-position: -224px -48px;
	}

	&.town_C-15-5 {
		background-position: -224px -64px;
	}

	&.town_C-15-6 {
		background-position: -224px -80px;
	}

	&.town_C-15-7 {
		background-position: -224px -96px;
	}

	&.town_C-15-8 {
		background-position: -224px -112px;
	}

	&.town_C-15-9 {
		background-position: -224px -128px;
	}

	&.town_C-15-10 {
		background-position: -224px -144px;
	}

	&.town_C-15-11 {
		background-position: -224px -160px;
	}

	&.town_C-15-12 {
		background-position: -224px -176px;
	}

	&.town_C-15-13 {
		background-position: -224px -192px;
	}

	&.town_C-15-14 {
		background-position: -224px -208px;
	}

	&.town_C-15-15 {
		background-position: -224px -224px;
	}

	&.town_C-15-16 {
		background-position: -224px -240px;
	}

	&.town_C-15-17 {
		background-position: -224px -256px;
	}

	&.town_C-15-18 {
		background-position: -224px -272px;
	}

	&.town_C-15-19 {
		background-position: -224px -288px;
	}

	&.town_C-15-20 {
		background-position: -224px -304px;
	}

	&.town_C-15-21 {
		background-position: -224px -320px;
	}

}
