.town_D {
	background-image: url(/system/tilesets/pngs/000/000/012/original/town_D.png?1519534145);
	width: 16px;
	height: 16px;

	&.town_D-1-1 {
		background-position: -0px -0px;
	}

	&.town_D-1-2 {
		background-position: -0px -16px;
	}

	&.town_D-1-3 {
		background-position: -0px -32px;
	}

	&.town_D-1-4 {
		background-position: -0px -48px;
	}

	&.town_D-1-5 {
		background-position: -0px -64px;
	}

	&.town_D-1-6 {
		background-position: -0px -80px;
	}

	&.town_D-1-7 {
		background-position: -0px -96px;
	}

	&.town_D-1-8 {
		background-position: -0px -112px;
	}

	&.town_D-1-9 {
		background-position: -0px -128px;
	}

	&.town_D-1-10 {
		background-position: -0px -144px;
	}

	&.town_D-1-11 {
		background-position: -0px -160px;
	}

	&.town_D-1-12 {
		background-position: -0px -176px;
	}

	&.town_D-1-13 {
		background-position: -0px -192px;
	}

	&.town_D-1-14 {
		background-position: -0px -208px;
	}

	&.town_D-1-15 {
		background-position: -0px -224px;
	}

	&.town_D-1-16 {
		background-position: -0px -240px;
	}

	&.town_D-1-17 {
		background-position: -0px -256px;
	}

	&.town_D-1-18 {
		background-position: -0px -272px;
	}

	&.town_D-1-19 {
		background-position: -0px -288px;
	}

	&.town_D-1-20 {
		background-position: -0px -304px;
	}

	&.town_D-1-21 {
		background-position: -0px -320px;
	}

	&.town_D-1-22 {
		background-position: -0px -336px;
	}

	&.town_D-1-23 {
		background-position: -0px -352px;
	}

	&.town_D-1-24 {
		background-position: -0px -368px;
	}

	&.town_D-1-25 {
		background-position: -0px -384px;
	}

	&.town_D-1-26 {
		background-position: -0px -400px;
	}

	&.town_D-1-27 {
		background-position: -0px -416px;
	}

	&.town_D-1-28 {
		background-position: -0px -432px;
	}

	&.town_D-2-1 {
		background-position: -16px -0px;
	}

	&.town_D-2-2 {
		background-position: -16px -16px;
	}

	&.town_D-2-3 {
		background-position: -16px -32px;
	}

	&.town_D-2-4 {
		background-position: -16px -48px;
	}

	&.town_D-2-5 {
		background-position: -16px -64px;
	}

	&.town_D-2-6 {
		background-position: -16px -80px;
	}

	&.town_D-2-7 {
		background-position: -16px -96px;
	}

	&.town_D-2-8 {
		background-position: -16px -112px;
	}

	&.town_D-2-9 {
		background-position: -16px -128px;
	}

	&.town_D-2-10 {
		background-position: -16px -144px;
	}

	&.town_D-2-11 {
		background-position: -16px -160px;
	}

	&.town_D-2-12 {
		background-position: -16px -176px;
	}

	&.town_D-2-13 {
		background-position: -16px -192px;
	}

	&.town_D-2-14 {
		background-position: -16px -208px;
	}

	&.town_D-2-15 {
		background-position: -16px -224px;
	}

	&.town_D-2-16 {
		background-position: -16px -240px;
	}

	&.town_D-2-17 {
		background-position: -16px -256px;
	}

	&.town_D-2-18 {
		background-position: -16px -272px;
	}

	&.town_D-2-19 {
		background-position: -16px -288px;
	}

	&.town_D-2-20 {
		background-position: -16px -304px;
	}

	&.town_D-2-21 {
		background-position: -16px -320px;
	}

	&.town_D-2-22 {
		background-position: -16px -336px;
	}

	&.town_D-2-23 {
		background-position: -16px -352px;
	}

	&.town_D-2-24 {
		background-position: -16px -368px;
	}

	&.town_D-2-25 {
		background-position: -16px -384px;
	}

	&.town_D-2-26 {
		background-position: -16px -400px;
	}

	&.town_D-2-27 {
		background-position: -16px -416px;
	}

	&.town_D-2-28 {
		background-position: -16px -432px;
	}

	&.town_D-3-1 {
		background-position: -32px -0px;
	}

	&.town_D-3-2 {
		background-position: -32px -16px;
	}

	&.town_D-3-3 {
		background-position: -32px -32px;
	}

	&.town_D-3-4 {
		background-position: -32px -48px;
	}

	&.town_D-3-5 {
		background-position: -32px -64px;
	}

	&.town_D-3-6 {
		background-position: -32px -80px;
	}

	&.town_D-3-7 {
		background-position: -32px -96px;
	}

	&.town_D-3-8 {
		background-position: -32px -112px;
	}

	&.town_D-3-9 {
		background-position: -32px -128px;
	}

	&.town_D-3-10 {
		background-position: -32px -144px;
	}

	&.town_D-3-11 {
		background-position: -32px -160px;
	}

	&.town_D-3-12 {
		background-position: -32px -176px;
	}

	&.town_D-3-13 {
		background-position: -32px -192px;
	}

	&.town_D-3-14 {
		background-position: -32px -208px;
	}

	&.town_D-3-15 {
		background-position: -32px -224px;
	}

	&.town_D-3-16 {
		background-position: -32px -240px;
	}

	&.town_D-3-17 {
		background-position: -32px -256px;
	}

	&.town_D-3-18 {
		background-position: -32px -272px;
	}

	&.town_D-3-19 {
		background-position: -32px -288px;
	}

	&.town_D-3-20 {
		background-position: -32px -304px;
	}

	&.town_D-3-21 {
		background-position: -32px -320px;
	}

	&.town_D-3-22 {
		background-position: -32px -336px;
	}

	&.town_D-3-23 {
		background-position: -32px -352px;
	}

	&.town_D-3-24 {
		background-position: -32px -368px;
	}

	&.town_D-3-25 {
		background-position: -32px -384px;
	}

	&.town_D-3-26 {
		background-position: -32px -400px;
	}

	&.town_D-3-27 {
		background-position: -32px -416px;
	}

	&.town_D-3-28 {
		background-position: -32px -432px;
	}

	&.town_D-4-1 {
		background-position: -48px -0px;
	}

	&.town_D-4-2 {
		background-position: -48px -16px;
	}

	&.town_D-4-3 {
		background-position: -48px -32px;
	}

	&.town_D-4-4 {
		background-position: -48px -48px;
	}

	&.town_D-4-5 {
		background-position: -48px -64px;
	}

	&.town_D-4-6 {
		background-position: -48px -80px;
	}

	&.town_D-4-7 {
		background-position: -48px -96px;
	}

	&.town_D-4-8 {
		background-position: -48px -112px;
	}

	&.town_D-4-9 {
		background-position: -48px -128px;
	}

	&.town_D-4-10 {
		background-position: -48px -144px;
	}

	&.town_D-4-11 {
		background-position: -48px -160px;
	}

	&.town_D-4-12 {
		background-position: -48px -176px;
	}

	&.town_D-4-13 {
		background-position: -48px -192px;
	}

	&.town_D-4-14 {
		background-position: -48px -208px;
	}

	&.town_D-4-15 {
		background-position: -48px -224px;
	}

	&.town_D-4-16 {
		background-position: -48px -240px;
	}

	&.town_D-4-17 {
		background-position: -48px -256px;
	}

	&.town_D-4-18 {
		background-position: -48px -272px;
	}

	&.town_D-4-19 {
		background-position: -48px -288px;
	}

	&.town_D-4-20 {
		background-position: -48px -304px;
	}

	&.town_D-4-21 {
		background-position: -48px -320px;
	}

	&.town_D-4-22 {
		background-position: -48px -336px;
	}

	&.town_D-4-23 {
		background-position: -48px -352px;
	}

	&.town_D-4-24 {
		background-position: -48px -368px;
	}

	&.town_D-4-25 {
		background-position: -48px -384px;
	}

	&.town_D-4-26 {
		background-position: -48px -400px;
	}

	&.town_D-4-27 {
		background-position: -48px -416px;
	}

	&.town_D-4-28 {
		background-position: -48px -432px;
	}

	&.town_D-5-1 {
		background-position: -64px -0px;
	}

	&.town_D-5-2 {
		background-position: -64px -16px;
	}

	&.town_D-5-3 {
		background-position: -64px -32px;
	}

	&.town_D-5-4 {
		background-position: -64px -48px;
	}

	&.town_D-5-5 {
		background-position: -64px -64px;
	}

	&.town_D-5-6 {
		background-position: -64px -80px;
	}

	&.town_D-5-7 {
		background-position: -64px -96px;
	}

	&.town_D-5-8 {
		background-position: -64px -112px;
	}

	&.town_D-5-9 {
		background-position: -64px -128px;
	}

	&.town_D-5-10 {
		background-position: -64px -144px;
	}

	&.town_D-5-11 {
		background-position: -64px -160px;
	}

	&.town_D-5-12 {
		background-position: -64px -176px;
	}

	&.town_D-5-13 {
		background-position: -64px -192px;
	}

	&.town_D-5-14 {
		background-position: -64px -208px;
	}

	&.town_D-5-15 {
		background-position: -64px -224px;
	}

	&.town_D-5-16 {
		background-position: -64px -240px;
	}

	&.town_D-5-17 {
		background-position: -64px -256px;
	}

	&.town_D-5-18 {
		background-position: -64px -272px;
	}

	&.town_D-5-19 {
		background-position: -64px -288px;
	}

	&.town_D-5-20 {
		background-position: -64px -304px;
	}

	&.town_D-5-21 {
		background-position: -64px -320px;
	}

	&.town_D-5-22 {
		background-position: -64px -336px;
	}

	&.town_D-5-23 {
		background-position: -64px -352px;
	}

	&.town_D-5-24 {
		background-position: -64px -368px;
	}

	&.town_D-5-25 {
		background-position: -64px -384px;
	}

	&.town_D-5-26 {
		background-position: -64px -400px;
	}

	&.town_D-5-27 {
		background-position: -64px -416px;
	}

	&.town_D-5-28 {
		background-position: -64px -432px;
	}

	&.town_D-6-1 {
		background-position: -80px -0px;
	}

	&.town_D-6-2 {
		background-position: -80px -16px;
	}

	&.town_D-6-3 {
		background-position: -80px -32px;
	}

	&.town_D-6-4 {
		background-position: -80px -48px;
	}

	&.town_D-6-5 {
		background-position: -80px -64px;
	}

	&.town_D-6-6 {
		background-position: -80px -80px;
	}

	&.town_D-6-7 {
		background-position: -80px -96px;
	}

	&.town_D-6-8 {
		background-position: -80px -112px;
	}

	&.town_D-6-9 {
		background-position: -80px -128px;
	}

	&.town_D-6-10 {
		background-position: -80px -144px;
	}

	&.town_D-6-11 {
		background-position: -80px -160px;
	}

	&.town_D-6-12 {
		background-position: -80px -176px;
	}

	&.town_D-6-13 {
		background-position: -80px -192px;
	}

	&.town_D-6-14 {
		background-position: -80px -208px;
	}

	&.town_D-6-15 {
		background-position: -80px -224px;
	}

	&.town_D-6-16 {
		background-position: -80px -240px;
	}

	&.town_D-6-17 {
		background-position: -80px -256px;
	}

	&.town_D-6-18 {
		background-position: -80px -272px;
	}

	&.town_D-6-19 {
		background-position: -80px -288px;
	}

	&.town_D-6-20 {
		background-position: -80px -304px;
	}

	&.town_D-6-21 {
		background-position: -80px -320px;
	}

	&.town_D-6-22 {
		background-position: -80px -336px;
	}

	&.town_D-6-23 {
		background-position: -80px -352px;
	}

	&.town_D-6-24 {
		background-position: -80px -368px;
	}

	&.town_D-6-25 {
		background-position: -80px -384px;
	}

	&.town_D-6-26 {
		background-position: -80px -400px;
	}

	&.town_D-6-27 {
		background-position: -80px -416px;
	}

	&.town_D-6-28 {
		background-position: -80px -432px;
	}

	&.town_D-7-1 {
		background-position: -96px -0px;
	}

	&.town_D-7-2 {
		background-position: -96px -16px;
	}

	&.town_D-7-3 {
		background-position: -96px -32px;
	}

	&.town_D-7-4 {
		background-position: -96px -48px;
	}

	&.town_D-7-5 {
		background-position: -96px -64px;
	}

	&.town_D-7-6 {
		background-position: -96px -80px;
	}

	&.town_D-7-7 {
		background-position: -96px -96px;
	}

	&.town_D-7-8 {
		background-position: -96px -112px;
	}

	&.town_D-7-9 {
		background-position: -96px -128px;
	}

	&.town_D-7-10 {
		background-position: -96px -144px;
	}

	&.town_D-7-11 {
		background-position: -96px -160px;
	}

	&.town_D-7-12 {
		background-position: -96px -176px;
	}

	&.town_D-7-13 {
		background-position: -96px -192px;
	}

	&.town_D-7-14 {
		background-position: -96px -208px;
	}

	&.town_D-7-15 {
		background-position: -96px -224px;
	}

	&.town_D-7-16 {
		background-position: -96px -240px;
	}

	&.town_D-7-17 {
		background-position: -96px -256px;
	}

	&.town_D-7-18 {
		background-position: -96px -272px;
	}

	&.town_D-7-19 {
		background-position: -96px -288px;
	}

	&.town_D-7-20 {
		background-position: -96px -304px;
	}

	&.town_D-7-21 {
		background-position: -96px -320px;
	}

	&.town_D-7-22 {
		background-position: -96px -336px;
	}

	&.town_D-7-23 {
		background-position: -96px -352px;
	}

	&.town_D-7-24 {
		background-position: -96px -368px;
	}

	&.town_D-7-25 {
		background-position: -96px -384px;
	}

	&.town_D-7-26 {
		background-position: -96px -400px;
	}

	&.town_D-7-27 {
		background-position: -96px -416px;
	}

	&.town_D-7-28 {
		background-position: -96px -432px;
	}

	&.town_D-8-1 {
		background-position: -112px -0px;
	}

	&.town_D-8-2 {
		background-position: -112px -16px;
	}

	&.town_D-8-3 {
		background-position: -112px -32px;
	}

	&.town_D-8-4 {
		background-position: -112px -48px;
	}

	&.town_D-8-5 {
		background-position: -112px -64px;
	}

	&.town_D-8-6 {
		background-position: -112px -80px;
	}

	&.town_D-8-7 {
		background-position: -112px -96px;
	}

	&.town_D-8-8 {
		background-position: -112px -112px;
	}

	&.town_D-8-9 {
		background-position: -112px -128px;
	}

	&.town_D-8-10 {
		background-position: -112px -144px;
	}

	&.town_D-8-11 {
		background-position: -112px -160px;
	}

	&.town_D-8-12 {
		background-position: -112px -176px;
	}

	&.town_D-8-13 {
		background-position: -112px -192px;
	}

	&.town_D-8-14 {
		background-position: -112px -208px;
	}

	&.town_D-8-15 {
		background-position: -112px -224px;
	}

	&.town_D-8-16 {
		background-position: -112px -240px;
	}

	&.town_D-8-17 {
		background-position: -112px -256px;
	}

	&.town_D-8-18 {
		background-position: -112px -272px;
	}

	&.town_D-8-19 {
		background-position: -112px -288px;
	}

	&.town_D-8-20 {
		background-position: -112px -304px;
	}

	&.town_D-8-21 {
		background-position: -112px -320px;
	}

	&.town_D-8-22 {
		background-position: -112px -336px;
	}

	&.town_D-8-23 {
		background-position: -112px -352px;
	}

	&.town_D-8-24 {
		background-position: -112px -368px;
	}

	&.town_D-8-25 {
		background-position: -112px -384px;
	}

	&.town_D-8-26 {
		background-position: -112px -400px;
	}

	&.town_D-8-27 {
		background-position: -112px -416px;
	}

	&.town_D-8-28 {
		background-position: -112px -432px;
	}

	&.town_D-9-1 {
		background-position: -128px -0px;
	}

	&.town_D-9-2 {
		background-position: -128px -16px;
	}

	&.town_D-9-3 {
		background-position: -128px -32px;
	}

	&.town_D-9-4 {
		background-position: -128px -48px;
	}

	&.town_D-9-5 {
		background-position: -128px -64px;
	}

	&.town_D-9-6 {
		background-position: -128px -80px;
	}

	&.town_D-9-7 {
		background-position: -128px -96px;
	}

	&.town_D-9-8 {
		background-position: -128px -112px;
	}

	&.town_D-9-9 {
		background-position: -128px -128px;
	}

	&.town_D-9-10 {
		background-position: -128px -144px;
	}

	&.town_D-9-11 {
		background-position: -128px -160px;
	}

	&.town_D-9-12 {
		background-position: -128px -176px;
	}

	&.town_D-9-13 {
		background-position: -128px -192px;
	}

	&.town_D-9-14 {
		background-position: -128px -208px;
	}

	&.town_D-9-15 {
		background-position: -128px -224px;
	}

	&.town_D-9-16 {
		background-position: -128px -240px;
	}

	&.town_D-9-17 {
		background-position: -128px -256px;
	}

	&.town_D-9-18 {
		background-position: -128px -272px;
	}

	&.town_D-9-19 {
		background-position: -128px -288px;
	}

	&.town_D-9-20 {
		background-position: -128px -304px;
	}

	&.town_D-9-21 {
		background-position: -128px -320px;
	}

	&.town_D-9-22 {
		background-position: -128px -336px;
	}

	&.town_D-9-23 {
		background-position: -128px -352px;
	}

	&.town_D-9-24 {
		background-position: -128px -368px;
	}

	&.town_D-9-25 {
		background-position: -128px -384px;
	}

	&.town_D-9-26 {
		background-position: -128px -400px;
	}

	&.town_D-9-27 {
		background-position: -128px -416px;
	}

	&.town_D-9-28 {
		background-position: -128px -432px;
	}

	&.town_D-10-1 {
		background-position: -144px -0px;
	}

	&.town_D-10-2 {
		background-position: -144px -16px;
	}

	&.town_D-10-3 {
		background-position: -144px -32px;
	}

	&.town_D-10-4 {
		background-position: -144px -48px;
	}

	&.town_D-10-5 {
		background-position: -144px -64px;
	}

	&.town_D-10-6 {
		background-position: -144px -80px;
	}

	&.town_D-10-7 {
		background-position: -144px -96px;
	}

	&.town_D-10-8 {
		background-position: -144px -112px;
	}

	&.town_D-10-9 {
		background-position: -144px -128px;
	}

	&.town_D-10-10 {
		background-position: -144px -144px;
	}

	&.town_D-10-11 {
		background-position: -144px -160px;
	}

	&.town_D-10-12 {
		background-position: -144px -176px;
	}

	&.town_D-10-13 {
		background-position: -144px -192px;
	}

	&.town_D-10-14 {
		background-position: -144px -208px;
	}

	&.town_D-10-15 {
		background-position: -144px -224px;
	}

	&.town_D-10-16 {
		background-position: -144px -240px;
	}

	&.town_D-10-17 {
		background-position: -144px -256px;
	}

	&.town_D-10-18 {
		background-position: -144px -272px;
	}

	&.town_D-10-19 {
		background-position: -144px -288px;
	}

	&.town_D-10-20 {
		background-position: -144px -304px;
	}

	&.town_D-10-21 {
		background-position: -144px -320px;
	}

	&.town_D-10-22 {
		background-position: -144px -336px;
	}

	&.town_D-10-23 {
		background-position: -144px -352px;
	}

	&.town_D-10-24 {
		background-position: -144px -368px;
	}

	&.town_D-10-25 {
		background-position: -144px -384px;
	}

	&.town_D-10-26 {
		background-position: -144px -400px;
	}

	&.town_D-10-27 {
		background-position: -144px -416px;
	}

	&.town_D-10-28 {
		background-position: -144px -432px;
	}

	&.town_D-11-1 {
		background-position: -160px -0px;
	}

	&.town_D-11-2 {
		background-position: -160px -16px;
	}

	&.town_D-11-3 {
		background-position: -160px -32px;
	}

	&.town_D-11-4 {
		background-position: -160px -48px;
	}

	&.town_D-11-5 {
		background-position: -160px -64px;
	}

	&.town_D-11-6 {
		background-position: -160px -80px;
	}

	&.town_D-11-7 {
		background-position: -160px -96px;
	}

	&.town_D-11-8 {
		background-position: -160px -112px;
	}

	&.town_D-11-9 {
		background-position: -160px -128px;
	}

	&.town_D-11-10 {
		background-position: -160px -144px;
	}

	&.town_D-11-11 {
		background-position: -160px -160px;
	}

	&.town_D-11-12 {
		background-position: -160px -176px;
	}

	&.town_D-11-13 {
		background-position: -160px -192px;
	}

	&.town_D-11-14 {
		background-position: -160px -208px;
	}

	&.town_D-11-15 {
		background-position: -160px -224px;
	}

	&.town_D-11-16 {
		background-position: -160px -240px;
	}

	&.town_D-11-17 {
		background-position: -160px -256px;
	}

	&.town_D-11-18 {
		background-position: -160px -272px;
	}

	&.town_D-11-19 {
		background-position: -160px -288px;
	}

	&.town_D-11-20 {
		background-position: -160px -304px;
	}

	&.town_D-11-21 {
		background-position: -160px -320px;
	}

	&.town_D-11-22 {
		background-position: -160px -336px;
	}

	&.town_D-11-23 {
		background-position: -160px -352px;
	}

	&.town_D-11-24 {
		background-position: -160px -368px;
	}

	&.town_D-11-25 {
		background-position: -160px -384px;
	}

	&.town_D-11-26 {
		background-position: -160px -400px;
	}

	&.town_D-11-27 {
		background-position: -160px -416px;
	}

	&.town_D-11-28 {
		background-position: -160px -432px;
	}

	&.town_D-12-1 {
		background-position: -176px -0px;
	}

	&.town_D-12-2 {
		background-position: -176px -16px;
	}

	&.town_D-12-3 {
		background-position: -176px -32px;
	}

	&.town_D-12-4 {
		background-position: -176px -48px;
	}

	&.town_D-12-5 {
		background-position: -176px -64px;
	}

	&.town_D-12-6 {
		background-position: -176px -80px;
	}

	&.town_D-12-7 {
		background-position: -176px -96px;
	}

	&.town_D-12-8 {
		background-position: -176px -112px;
	}

	&.town_D-12-9 {
		background-position: -176px -128px;
	}

	&.town_D-12-10 {
		background-position: -176px -144px;
	}

	&.town_D-12-11 {
		background-position: -176px -160px;
	}

	&.town_D-12-12 {
		background-position: -176px -176px;
	}

	&.town_D-12-13 {
		background-position: -176px -192px;
	}

	&.town_D-12-14 {
		background-position: -176px -208px;
	}

	&.town_D-12-15 {
		background-position: -176px -224px;
	}

	&.town_D-12-16 {
		background-position: -176px -240px;
	}

	&.town_D-12-17 {
		background-position: -176px -256px;
	}

	&.town_D-12-18 {
		background-position: -176px -272px;
	}

	&.town_D-12-19 {
		background-position: -176px -288px;
	}

	&.town_D-12-20 {
		background-position: -176px -304px;
	}

	&.town_D-12-21 {
		background-position: -176px -320px;
	}

	&.town_D-12-22 {
		background-position: -176px -336px;
	}

	&.town_D-12-23 {
		background-position: -176px -352px;
	}

	&.town_D-12-24 {
		background-position: -176px -368px;
	}

	&.town_D-12-25 {
		background-position: -176px -384px;
	}

	&.town_D-12-26 {
		background-position: -176px -400px;
	}

	&.town_D-12-27 {
		background-position: -176px -416px;
	}

	&.town_D-12-28 {
		background-position: -176px -432px;
	}

	&.town_D-13-1 {
		background-position: -192px -0px;
	}

	&.town_D-13-2 {
		background-position: -192px -16px;
	}

	&.town_D-13-3 {
		background-position: -192px -32px;
	}

	&.town_D-13-4 {
		background-position: -192px -48px;
	}

	&.town_D-13-5 {
		background-position: -192px -64px;
	}

	&.town_D-13-6 {
		background-position: -192px -80px;
	}

	&.town_D-13-7 {
		background-position: -192px -96px;
	}

	&.town_D-13-8 {
		background-position: -192px -112px;
	}

	&.town_D-13-9 {
		background-position: -192px -128px;
	}

	&.town_D-13-10 {
		background-position: -192px -144px;
	}

	&.town_D-13-11 {
		background-position: -192px -160px;
	}

	&.town_D-13-12 {
		background-position: -192px -176px;
	}

	&.town_D-13-13 {
		background-position: -192px -192px;
	}

	&.town_D-13-14 {
		background-position: -192px -208px;
	}

	&.town_D-13-15 {
		background-position: -192px -224px;
	}

	&.town_D-13-16 {
		background-position: -192px -240px;
	}

	&.town_D-13-17 {
		background-position: -192px -256px;
	}

	&.town_D-13-18 {
		background-position: -192px -272px;
	}

	&.town_D-13-19 {
		background-position: -192px -288px;
	}

	&.town_D-13-20 {
		background-position: -192px -304px;
	}

	&.town_D-13-21 {
		background-position: -192px -320px;
	}

	&.town_D-13-22 {
		background-position: -192px -336px;
	}

	&.town_D-13-23 {
		background-position: -192px -352px;
	}

	&.town_D-13-24 {
		background-position: -192px -368px;
	}

	&.town_D-13-25 {
		background-position: -192px -384px;
	}

	&.town_D-13-26 {
		background-position: -192px -400px;
	}

	&.town_D-13-27 {
		background-position: -192px -416px;
	}

	&.town_D-13-28 {
		background-position: -192px -432px;
	}

	&.town_D-14-1 {
		background-position: -208px -0px;
	}

	&.town_D-14-2 {
		background-position: -208px -16px;
	}

	&.town_D-14-3 {
		background-position: -208px -32px;
	}

	&.town_D-14-4 {
		background-position: -208px -48px;
	}

	&.town_D-14-5 {
		background-position: -208px -64px;
	}

	&.town_D-14-6 {
		background-position: -208px -80px;
	}

	&.town_D-14-7 {
		background-position: -208px -96px;
	}

	&.town_D-14-8 {
		background-position: -208px -112px;
	}

	&.town_D-14-9 {
		background-position: -208px -128px;
	}

	&.town_D-14-10 {
		background-position: -208px -144px;
	}

	&.town_D-14-11 {
		background-position: -208px -160px;
	}

	&.town_D-14-12 {
		background-position: -208px -176px;
	}

	&.town_D-14-13 {
		background-position: -208px -192px;
	}

	&.town_D-14-14 {
		background-position: -208px -208px;
	}

	&.town_D-14-15 {
		background-position: -208px -224px;
	}

	&.town_D-14-16 {
		background-position: -208px -240px;
	}

	&.town_D-14-17 {
		background-position: -208px -256px;
	}

	&.town_D-14-18 {
		background-position: -208px -272px;
	}

	&.town_D-14-19 {
		background-position: -208px -288px;
	}

	&.town_D-14-20 {
		background-position: -208px -304px;
	}

	&.town_D-14-21 {
		background-position: -208px -320px;
	}

	&.town_D-14-22 {
		background-position: -208px -336px;
	}

	&.town_D-14-23 {
		background-position: -208px -352px;
	}

	&.town_D-14-24 {
		background-position: -208px -368px;
	}

	&.town_D-14-25 {
		background-position: -208px -384px;
	}

	&.town_D-14-26 {
		background-position: -208px -400px;
	}

	&.town_D-14-27 {
		background-position: -208px -416px;
	}

	&.town_D-14-28 {
		background-position: -208px -432px;
	}

	&.town_D-15-1 {
		background-position: -224px -0px;
	}

	&.town_D-15-2 {
		background-position: -224px -16px;
	}

	&.town_D-15-3 {
		background-position: -224px -32px;
	}

	&.town_D-15-4 {
		background-position: -224px -48px;
	}

	&.town_D-15-5 {
		background-position: -224px -64px;
	}

	&.town_D-15-6 {
		background-position: -224px -80px;
	}

	&.town_D-15-7 {
		background-position: -224px -96px;
	}

	&.town_D-15-8 {
		background-position: -224px -112px;
	}

	&.town_D-15-9 {
		background-position: -224px -128px;
	}

	&.town_D-15-10 {
		background-position: -224px -144px;
	}

	&.town_D-15-11 {
		background-position: -224px -160px;
	}

	&.town_D-15-12 {
		background-position: -224px -176px;
	}

	&.town_D-15-13 {
		background-position: -224px -192px;
	}

	&.town_D-15-14 {
		background-position: -224px -208px;
	}

	&.town_D-15-15 {
		background-position: -224px -224px;
	}

	&.town_D-15-16 {
		background-position: -224px -240px;
	}

	&.town_D-15-17 {
		background-position: -224px -256px;
	}

	&.town_D-15-18 {
		background-position: -224px -272px;
	}

	&.town_D-15-19 {
		background-position: -224px -288px;
	}

	&.town_D-15-20 {
		background-position: -224px -304px;
	}

	&.town_D-15-21 {
		background-position: -224px -320px;
	}

	&.town_D-15-22 {
		background-position: -224px -336px;
	}

	&.town_D-15-23 {
		background-position: -224px -352px;
	}

	&.town_D-15-24 {
		background-position: -224px -368px;
	}

	&.town_D-15-25 {
		background-position: -224px -384px;
	}

	&.town_D-15-26 {
		background-position: -224px -400px;
	}

	&.town_D-15-27 {
		background-position: -224px -416px;
	}

	&.town_D-15-28 {
		background-position: -224px -432px;
	}

	&.town_D-16-1 {
		background-position: -240px -0px;
	}

	&.town_D-16-2 {
		background-position: -240px -16px;
	}

	&.town_D-16-3 {
		background-position: -240px -32px;
	}

	&.town_D-16-4 {
		background-position: -240px -48px;
	}

	&.town_D-16-5 {
		background-position: -240px -64px;
	}

	&.town_D-16-6 {
		background-position: -240px -80px;
	}

	&.town_D-16-7 {
		background-position: -240px -96px;
	}

	&.town_D-16-8 {
		background-position: -240px -112px;
	}

	&.town_D-16-9 {
		background-position: -240px -128px;
	}

	&.town_D-16-10 {
		background-position: -240px -144px;
	}

	&.town_D-16-11 {
		background-position: -240px -160px;
	}

	&.town_D-16-12 {
		background-position: -240px -176px;
	}

	&.town_D-16-13 {
		background-position: -240px -192px;
	}

	&.town_D-16-14 {
		background-position: -240px -208px;
	}

	&.town_D-16-15 {
		background-position: -240px -224px;
	}

	&.town_D-16-16 {
		background-position: -240px -240px;
	}

	&.town_D-16-17 {
		background-position: -240px -256px;
	}

	&.town_D-16-18 {
		background-position: -240px -272px;
	}

	&.town_D-16-19 {
		background-position: -240px -288px;
	}

	&.town_D-16-20 {
		background-position: -240px -304px;
	}

	&.town_D-16-21 {
		background-position: -240px -320px;
	}

	&.town_D-16-22 {
		background-position: -240px -336px;
	}

	&.town_D-16-23 {
		background-position: -240px -352px;
	}

	&.town_D-16-24 {
		background-position: -240px -368px;
	}

	&.town_D-16-25 {
		background-position: -240px -384px;
	}

	&.town_D-16-26 {
		background-position: -240px -400px;
	}

	&.town_D-16-27 {
		background-position: -240px -416px;
	}

	&.town_D-16-28 {
		background-position: -240px -432px;
	}

}
